page-login {
  .content {
    background-color: white;
  }

  .login_title {
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 20px;
  }

  .login_forgot {
    text-align: left;
  }

  .login_register {
    text-align: right;
  }
}
