<ion-header>
  <ion-navbar color="danger">
    <ion-title>RESET PASSWORD</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
      <ion-icon name='mail' color="icon_gray" item-left></ion-icon>
      <ion-input id='txtEmail' type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.email">
      <ion-item no-lines class="error-message" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched || submitAttempt) && submitAttempt">
        <p>{{ validation.message }}</p>
      </ion-item>
    </ng-container>
  </form>
  <button id='btnReset' ion-button block type="submit" color="danger" (click)=resetPassword()>Reset</button>
</ion-content>