<div id="dashboard">
    <div class="row">
        <div class="col-xs-12">
            <div id="error-box">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="error-box-inner">
                            <img src="./images/logo-small.png" alt="Logo SGB" />
                        </div>
                        <h1>SG Basketball</h1>
                        <!-- <p>Rise as one</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
